{% extends "app/layout.html" %}

{% block title %}
fanbook
{% endblock %}


{% block body %}

  <!--IMAGE BANNER JUMBOTRON-->
  <div class="jumbotron bg-warning text-dark mt-2 mb-3">
      <div class="container text-center">
          <h1 class="display-lg-4 display-sm-2 display-xs-1">Image Banner</h1>
          <p class="lead">Offer Description.</p>
          <hr class="my-4 bg-light">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
  </div>


  <!--TEXT BANNER JUMBOTRON-->
  <div class="jumbotron bg-light text-dark mt-2 mb-3">
      <div class="container text-center">
          <h1 class="display-lg-4 display-sm-2 display-xs-1">Some Festive/Seasonal Offer</h1>
          <p class="lead">Offer Description.</p>
          <hr class="my-4 bg-light">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
  </div>

  <!--IMAGE GALLERY OF FANBOOK -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
        <div class="hovereffect">
          <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScjyKn8u4dOP8cI08Iod2QqDiMfZn7eaaEnQ&usqp=CAU" alt="">
          <div class="overlay">
            <h2>Effect 10</h2>
            <p class="icon-links">
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
