{% extends "app/layout.html" %}

{% block title %}
fanbook
{% endblock %}


{% block body %}

  <!--IMAGE BANNER JUMBOTRON-->
  <div class="jumbotron bg-warning text-dark mt-2 mb-3 p-3">
      <div class="container text-center">
          <h1 class="display-lg-4 display-sm-2 display-xs-1">Image Banner</h1>
          <p class="lead">Offer Description.</p>
          <hr class="my-4 bg-light">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
  </div>

  <!--TEXT BANNER JUMBOTRON-->
  <div class="jumbotron bg-light text-dark mt-2 mb-3 p-3">
      <div class="container text-center">
          <h1 class="display-lg-4 display-sm-2 display-xs-1">Some Festive/Seasonal Offer</h1>
          <p class="lead">Offer Description.</p>
          <hr class="my-4 bg-light">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
  </div>

  <!--IMAGE GALLERY FOR FANBOOK-->
  <div class="container d-flex flex-wrap">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://sc02.alicdn.com/kf/Ue2af7df50a7e4c6f9bbe00c3166b1fc0J.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://m.media-amazon.com/images/I/314Qcmf+a9L.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://5.imimg.com/data5/SELLER/Default/2020/8/NO/PH/VM/36740565/hoodie-printing-with-hoodies-500x500.jpeg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://images.bewakoof.com/original/white-half-sleeve-t-shirt-105-1635793001-1.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://5.imimg.com/data5/SH/GC/MY-8764775/mens-t-shirt-500x500.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://assetscdn1.paytm.com/images/catalog/product/A/AP/APPAMPLE-MEN-KIKHAL1070621AA374474/1562997954268_0..jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://m.media-amazon.com/images/I/61-jBuhtgZL._UX569_.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://m.media-amazon.com/images/I/81q1-5edHwL._UL1500_.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://assets.ajio.com/medias/sys_master/root/20210403/ywxs/60686961f997dd7b645dbf0c/-473Wx593H-461119026-black-MODEL.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://assets.abfrlcdn.com/img/app/product/4/493432-3694265-large.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://cdn-mdb.head.com/CDN3/G/811341_WHXP/1/400x400/perf-polo-ii-shirt-men-whxp.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://rukminim1.flixcart.com/image/332/398/kngd0nk0/shirt/b/e/1/xl-shirts-sahi-hai-original-imag24khxshsg8yy.jpeg?q=50" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://www.versace.com/dw/image/v2/ABAO_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw94384b51/original/90_1002113-1A01644_1R330_10_LaGrecaAccentShirt-Shirts-versace-online-store_0_1.jpg?sw=450&sh=632&sm=fit&sfrm=jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/2147883/2017/11/7/11510046595699-Jaipur-Kurti-Women-Navy-Blue-Printed-Kurta-with-Trousers-8001510046595392-1.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://m.media-amazon.com/images/I/71IkacGFG7L._UY550_.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://static.peachmode.com/media/images/product/117618/small/1630494023_1_POSH-1040-WHITE-PEACHMODE.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://m.media-amazon.com/images/I/711AatnujVL._UY550_.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-1">
          <div class="hovereffect">
            <img class="image-fluid fanbook-img" src="https://m.media-amazon.com/images/I/817pXzcZIFL._UL1500_.jpg" alt="">
            <div class="overlay">
                <a href="#"> <h2>Buy now</h2> </a>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-share-alt"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-shopping-bag"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-external-link-alt"></span>
                    </a>
                </p>
            </div>
          </div>
      </div>

    </div>
  </div>

{% endblock %}
