{% extends "app/layout.html" %}

{% block title %} 
INDEX.HTML
{% endblock %}
	
{% block body %}
	    <!---OFFERS AND CATEGORIES CARD LIST HORIZONTALLT SCORALLABLE-->
    <div class="container-fluid my-5 p-4 bg-light">
        <div class="container">
            <div class="d-flex flex-row flex-nowrap overflow-auto p-2" id="flex-card-row">
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-primary">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-warning">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-danger">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-success">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-dark">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-primary">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-success">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-danger">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-warning">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-primary">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-dark">
                        <a href="#">Offers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

	    <!--HOT DEALS CAROUSEL-->
    <div class="container-fluid">
        <div class="row justify-content-center mb-3">
            <span class="text-center font-weight-bold">HOT DEALS</span>
        </div>
        <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true, "wrapAround": true, "groupCell":3 }'>
            <div class="gallery-cell wfull bg-light">1</div>
            <div class="gallery-cell wfull bg-primary">2</div>
            <div class="gallery-cell wfull bg-warning">3</div>
            <div class="gallery-cell wfull bg-danger">4</div>
            <div class="gallery-cell wfull bg-success">5</div>
        </div>
    </div>

	    <!---SELF PRAISE JUMBOTRON-->
    <div class="jumbotron jumbotron-fluid bg-warning justify-content-center overflow-hidden my-5">
        <div class="container text-white text-center">
          <h1 class="display-lg-4 display-sm-2 display-xs-1">Self Praise Title</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
{% endblock %}