{% extends "app/layout.html" %}

{% block title %}
INDEX.HTML
{% endblock %}

{% block body %}

<!--MEN WOMEN ASSECORIES FANBOOK Sitemap Slider-->
<div class="container my-2 justify-content-center">
  <div class="row p-0">
      <div class="overflow-hidden col-3 text-center border-bottom border-warning p-lg-2">
          <a href="#" class="navbar-links">MEN</a>
        </div>
        <div class="overflow-hidden col-3 text-center p-lg-2">
          <a href="#" class="navbar-links">WOMEN</a>
        </div>
        <div class="overflow-hidden col-3 text-center p-lg-2">
          <a href="#" class="navbar-links">ACCESSORIES</a>
        </div>
        <div class="overflow-hidden col-3 text-center p-lg-2">
          <a href="#" class="navbar-links">FANBOOK</a>
        </div>
  </div>
</div>


  <!--CAROUSEL OFFERS-->
  <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true, "wrapAround": true, "groupCell":3 }'>
    <div class="gallery-cell wfull bg-light">1</div>
    <div class="gallery-cell wfull bg-primary">2</div>
    <div class="gallery-cell wfull bg-warning">3</div>
    <div class="gallery-cell wfull bg-danger">4</div>
    <div class="gallery-cell wfull bg-success">5</div>
  </div>



	<!---OFFERS AND CATEGORIES CARD LIST HORIZONTALLT SCORALLABLE-->
    <div class="container-fluid my-5 p-4 bg-light">
        <div class="container">
            <div class="d-flex flex-row flex-nowrap overflow-auto p-2" id="flex-card-row">
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-primary">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-warning">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-danger">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-success">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-dark">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-primary">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-success">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-danger">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-warning">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-primary">
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="card card-block mx-2 col-6 col-lg-2 col-md-4 col-sm-6 text-center p-4 justify-content-center">
                    <div class="bg-dark">
                        <a href="#">Offers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


	<!---SELF PRAISE JUMBOTRON-->
    <div class="jumbotron jumbotron-fluid bg-danger justify-content-center overflow-hidden mt-5">
        <div class="container text-white text-center">
          <h1 class="display-lg-4 display-sm-2 display-xs-1">Self Praise Title</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>


    <!--HOT DEALS CAROUSEL-->
    <div class="container-fluid">
        <div class="row justify-content-center mb-3">
            <h5 class="text-center"><b>HOT DEALS</b></h5>
        </div>
        <div class="gallery js-flickity" data-flickity='{ "freeScroll": true, "wrapAround": true, "groupCells": 4 }'>
            <div class="gallery-cell bg-light" style="width: 25%; height: 45vh;">1</div>
            <div class="gallery-cell bg-primary" style="width: 25%; height: 45vh;">2</div>
            <div class="gallery-cell bg-warning" style="width: 25%; height: 45vh;">3</div>
            <div class="gallery-cell bg-danger" style="width: 25%; height: 45vh;">4</div>
            <div class="gallery-cell bg-success" style="width: 25%; height: 45vh;">5</div>
            <div class="gallery-cell bg-light" style="width: 25%; height: 45vh;">1</div>
            <div class="gallery-cell bg-primary" style="width: 25%; height: 45vh;">2</div>
            <div class="gallery-cell bg-warning" style="width: 25%; height: 45vh;">3</div>
            <div class="gallery-cell bg-danger" style="width: 25%; height: 45vh;">4</div>
            <div class="gallery-cell bg-success" style="width: 25%; height: 45vh;">5</div>
        </div>
    </div>


    <!--DESIGN OF THE DAY/SEASONAL JUMBOTRON-->
    <div class="jumbotron bg-warning text-dark my-5">
        <div class="container text-center">
            <h1 class="display-lg-4 display-sm-2 display-xs-1">Some Festive/Seasonal Offer</h1>
            <p class="lead">Offer Description.</p>
            <hr class="my-4 bg-light">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead text-center">
                <a class="btn btn-light btn-lg" href="#" role="button">Shop Now</a>
            </p>
        </div>
    </div>


    <!--WHAT's NEW SCROLABLE CAROUSEL -->
    <div class="container-fluid">
        <div class="row justify-content-center mb-3">
            <h5 class="text-center"><b>WHAT'S NEW</b></h5>
        </div>
        <div class="gallery js-flickity mb-4" data-flickity='{ "freeScroll": true, "wrapAround": true, "groupCells": 4 }'>
            <div class="gallery-cell bg-light" style="width: 25%; height: 45vh;">1</div>
            <div class="gallery-cell bg-primary" style="width: 25%; height: 45vh;">2</div>
            <div class="gallery-cell bg-warning" style="width: 25%; height: 45vh;">3</div>
            <div class="gallery-cell bg-danger" style="width: 25%; height: 45vh;">4</div>
            <div class="gallery-cell bg-success" style="width: 25%; height: 45vh;">5</div>
            <div class="gallery-cell bg-light" style="width: 25%; height: 45vh;">1</div>
            <div class="gallery-cell bg-primary" style="width: 25%; height: 45vh;">2</div>
            <div class="gallery-cell bg-warning" style="width: 25%; height: 45vh;">3</div>
            <div class="gallery-cell bg-danger" style="width: 25%; height: 45vh;">4</div>
            <div class="gallery-cell bg-success" style="width: 25%; height: 45vh;">5</div>
        </div>
        <div class="text-center mt-2">
            <a class="text-dark" href="#"><u>VIEW ALL</u></a>
        </div>
    </div>


    <!--CATEGORIES GRID-->
    <div class="container mb-2">
        <div class="row justify-content-center mt-4">
            <h5 class="text-center"><b>CATEGORIES FOR YOU</b></h5>
        </div>
        <div class="row">
            <!--THIS WILL BE DONE USING A FOR LOOP IN FINAL VERSION-->
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2 col-lg-2 my-2">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card">
                        <img class="card-img-top image-responsive" src="https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text"><b>CategoryName</b></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!--ARUN FASHION SPECIAL CAROUSEL-->
    <div class="container-fluid mt-5">
        <div class="row justify-content-center mb-3">
            <h5 class="text-center"><b>ARUN FASHION SPECIAL</b></h5>
        </div>
        <div class="gallery js-flickity" data-flickity='{ "freeScroll": true, "wrapAround": true, "groupCells": 3 }'>
            <div class="gallery-cell bg-light wfull">1</div>
            <div class="gallery-cell bg-primary wfull">2</div>
            <div class="gallery-cell bg-warning wfull">3</div>
            <div class="gallery-cell bg-danger wfull">4</div>
            <div class="gallery-cell bg-success wfull">5</div>
            <div class="gallery-cell bg-light wfull">1</div>
            <div class="gallery-cell bg-primary wfulll">2</div>
            <div class="gallery-cell bg-warning wfull">3</div>
            <div class="gallery-cell bg-danger wfull">4</div>
            <div class="gallery-cell bg-success wfull">5</div>
        </div>
    </div>


    <!--TRENDING PRODUCTS GRID -->
    <div class="container-fluid mt-5">
        <div class="row justify-content-center mb-3">
            <h5 class="text-center"><b>TRENDING</b></h5>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <!-- PRODUCT CARD 1-->
                    <a href="#" class="text-decoration-none">
                        <div class="card">
                            <div class="view overlay">
                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5>Fantasy T-shirt</h5>
                                <p class="small text-muted text-uppercase">Shirts</p>
                                <ul class="rating list-inline row justify-content-center">
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <hr>
                                <h6 class="mb-2">
                                    <span class="text-success mr-1">$12.99</span>
                                    <span class="text-danger"><s>$36.99</s></span>
                                </h6>
                                <button type="button" class="btn btn-outline-warning btn-sm mr-1 mb-2">
                                    <i class="fas fa-shopping-cart pr-2"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2">
                                    Buy Now
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm px-3 mb-2 material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    <i class="far fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <!-- PRODUCT CARD 2-->
                    <a href="#" class="text-decoration-none">
                        <div class="card">
                            <div class="view overlay">
                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5>Fantasy T-shirt</h5>
                                <p class="small text-muted text-uppercase">Shirts</p>
                                <ul class="rating list-inline row justify-content-center">
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <hr>
                                <h6 class="mb-2">
                                    <span class="text-success mr-1">$12.99</span>
                                    <span class="text-danger"><s>$36.99</s></span>
                                </h6>
                                <button type="button" class="btn btn-outline-warning btn-sm mr-1 mb-2">
                                    <i class="fas fa-shopping-cart pr-2"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2">
                                    Buy Now
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm px-3 mb-2 material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    <i class="far fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <!-- PRODUCT CARD 3-->
                    <a href="#" class="text-decoration-none">
                        <div class="card">
                            <div class="view overlay">
                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5>Fantasy T-shirt</h5>
                                <p class="small text-muted text-uppercase">Shirts</p>
                                <ul class="rating list-inline row justify-content-center">
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <hr>
                                <h6 class="mb-2">
                                    <span class="text-success mr-1">$12.99</span>
                                    <span class="text-danger"><s>$36.99</s></span>
                                </h6>
                                <button type="button" class="btn btn-outline-warning btn-sm mr-1 mb-2">
                                    <i class="fas fa-shopping-cart pr-2"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2">
                                    Buy Now
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm px-3 mb-2 material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    <i class="far fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2">
                    <!-- PRODUCT CARD 4-->
                    <a href="#" class="text-decoration-none">
                        <div class="card">
                            <div class="view overlay">
                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5>Fantasy T-shirt</h5>
                                <p class="small text-muted text-uppercase">Shirts</p>
                                <ul class="rating list-inline row justify-content-center">
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <hr>
                                <h6 class="mb-2">
                                    <span class="text-success mr-1">$12.99</span>
                                    <span class="text-danger"><s>$36.99</s></span>
                                </h6>
                                <button type="button" class="btn btn-outline-warning btn-sm mr-1 mb-2">
                                    <i class="fas fa-shopping-cart pr-2"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2">
                                    Buy Now
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm px-3 mb-2 material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    <i class="far fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <a class="text-dark" href="#"><u>VIEW ALL</u></a>
        </div>
    </div>


		<!--EXLUSIVE OFFER JUMBOTRON-->
		<div class="jumbotron bg-dark text-light my-5">
        <div class="container text-center">
            <h1 class="display-lg-4 display-sm-2 display-xs-1">EXCLUSIVE Offer</h1>
            <p class="lead">Offer Description.</p>
            <hr class="my-4 bg-light">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead text-center">
                <a class="btn btn-light btn-lg" href="#" role="button">Shop Now</a>
            </p>
        </div>
    </div>


		<!--REFER AND CHILL JUMBOTRON-->
		<div class="jumbotron bg-warning text-dark my-5">
        <div class="container text-center">
            <h1 class="display-lg-4 display-sm-2 display-xs-1">Refer and chill offer</h1>
            <p class="lead">Offer Description.</p>
            <hr class="my-4 bg-light">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead text-center">
                <a class="btn btn-light btn-lg" href="#" role="button">Shop Now</a>
            </p>
        </div>
    </div>


		<!--ACCESORIES FOR YOU GRID-->
		<div class="container-fluid mt-5">
        <div class="row justify-content-center mb-3">
            <h5 class="text-center"><b>ACCESORIES FOR YOU</b></h5>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-4 my-2">
                    <!-- PRODUCT CARD 1-->
                    <a href="#" class="text-decoration-none">
                        <div class="card">
                            <div class="view overlay">
                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5>Fantasy T-shirt</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-4 my-2">
                    <!-- PRODUCT CARD 2-->
                    <a href="#" class="text-decoration-none">
											<div class="card">
													<div class="view overlay">
															<img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
															<a href="#!">
																	<div class="mask rgba-white-slight"></div>
															</a>
													</div>
													<div class="card-body text-center">
															<h5>Fantasy T-shirt</h5>
													</div>
											</div>
                    </a>
                </div>

                <div class="col-lg-2 col-4 my-2">
                    <!-- PRODUCT CARD 3-->
                    <a href="#" class="text-decoration-none">
											<div class="card">
													<div class="view overlay">
															<img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
															<a href="#!">
																	<div class="mask rgba-white-slight"></div>
															</a>
													</div>
													<div class="card-body text-center">
															<h5>Fantasy T-shirt</h5>
													</div>
											</div>
                    </a>
                </div>

                <div class="col-lg-2 col-4 my-2">
                    <!-- PRODUCT CARD 4-->
                    <a href="#" class="text-decoration-none">
											<div class="card">
													<div class="view overlay">
															<img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
															<a href="#!">
																	<div class="mask rgba-white-slight"></div>
															</a>
													</div>
													<div class="card-body text-center">
															<h5>Fantasy T-shirt</h5>
													</div>
											</div>
                    </a>
                </div>

								<div class="col-lg-2 col-4 my-2">
                    <!-- PRODUCT CARD 5-->
                    <a href="#" class="text-decoration-none">
											<div class="card">
													<div class="view overlay">
															<img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
															<a href="#!">
																	<div class="mask rgba-white-slight"></div>
															</a>
													</div>
													<div class="card-body text-center">
															<h5>Fantasy T-shirt</h5>
													</div>
											</div>
                    </a>
                </div>

								<div class="col-lg-2 col-4 my-2">
                    <!-- PRODUCT CARD 6-->
                    <a href="#" class="text-decoration-none">
											<div class="card">
													<div class="view overlay">
															<img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
															<a href="#!">
																	<div class="mask rgba-white-slight"></div>
															</a>
													</div>
													<div class="card-body text-center">
															<h5>Fantasy T-shirt</h5>
													</div>
											</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <a class="text-dark" href="#"><u>VIEW ALL</u></a>
        </div>
    </div>

		<!--YOU MAY ALSO LIKE CARD GRID-->
		<div class="container mt-5">
			<div class="row justify-content-center mb-3">
					<h5 class="text-center"><b>YOU MAY ALSO LIKE</b></h5>
			</div>
			<div class="row">

	  		<div class="col-lg-6 col-md-6 col-sm-12 my-3 rounded-2">
	    		<div class="card bg-primary p-4 text-white" style="height: 14rem;">
	      		<div class="card-body">
	        		<h5 class="card-title">Special title treatment</h5>
	        		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        		<a href="#" class="btn btn-light">Shop Now</a>
	      		</div>
	    	 </div>
	  		</div>

				<div class="col-lg-6 col-md-6 my-3 col-sm-12 rounded-2">
	    		<div class="card bg-dark p-4" style="height: 14rem;">
	      		<div class="card-body text-light">
	        		<h5 class="card-title">Special title treatment</h5>
	        		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        		<a href="#" class="btn btn-warning ml-3">See More</a>
	      		</div>
	    		</div>
	  		</div>

				<div class="col-lg-6 col-md-6 my-3 col-sm-12 rounded-2">
	    		<div class="card bg-warning p-4 text-dark" style="height: 14rem;">
	      		<div class="card-body">
	        		<h5 class="card-title">Special title treatment</h5>
	        		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        		<a href="#" class="btn btn-dark ml-3">Shop Now</a>
	      		</div>
	    		</div>
	  		</div>

				<div class="col-lg-6 col-md-6 my-3 col-sm-12 rounded-2">
	    		<div class="card bg-danger p-4 text-white" style="height: 14rem;">
	      		<div class="card-body">
	        		<h5 class="card-title">Special title treatment</h5>
	        		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        		<a href="#" class="btn btn-dark ml-3">Shop Now</a>
	      		</div>
	    		</div>
	  		</div>

			</div>
		</div>

{% endblock %}
